# Byte-compiled / optimized / DLL files
__pycache__/

# mqt pre-commit lint check files
.eslintrc.json
.flake8
.pre-commit-config-optional.yaml
.pre-commit-config.yaml
.pylintrc
.pylintrc-optional

# vscode configuration
.vscode
